In [70]:
import pandas as pd
import numpy as np
from math import sqrt

In [71]:
books_df = pd.read_csv('BX-Books.csv',encoding='latin-1', delimiter=',',error_bad_lines = False)
ratings_df = pd.read_csv('BX-Book-Ratings.csv',encoding='latin-1', delimiter=',',error_bad_lines = False)
books_df

C:\Users\edwar\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3378: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 10824: expected 8 fields, saw 9\nSkipping line 14769: expected 8 fields, saw 9\nSkipping line 14936: expected 8 fields, saw 9\nSkipping line 15690: expected 8 fields, saw 10\nSkipping line 17320: expected 8 fields, saw 9\nSkipping line 18095: expected 8 fields, saw 9\nSkipping line 28443: expected 8 fields, saw 9\nSkipping line 33098: expected 8 fields, saw 9\nSkipping line 36394: expected 8 fields, saw 12\nSkipping line 42628: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\nSkipping line 52174: expected 8 fields, saw 9\nSkipping line 56901: expected 8 fields, saw 10\nSkipping line 58600: expected 8 fields, saw 10\nSkipping line 60739: expected 8 fields, saw 10\n'
b'Skipping line 65756: expected 8 fields, saw 9\nSkipping line 67924: expected 8 fields, saw 9\nSkipping line 68134: expected 8 fields, saw 9\nSkipping line 70764: expected 8 fields, saw 11\nSkipping line 72572: expected 8 fields, saw 12\nSkipping line 74291: expected 8 fields, saw 9\nSkipping line 77336: expected 8 fields, saw 9\nSkipping line 79974: expected 8 fields, saw 9\nSkipping line 88000: expected 8 fields, saw 10\nSkipping line 88698: expected 8 fields, saw 9\nSkipping line 88980: expected 8 fields, saw 9\nSkipping line 90210: expected 8 fields, saw 12\nSkipping line 92038: expected 8 fields, saw 11\nSkipping line 93118: expected 8 fields, saw 9\nSkipping line 94130: expected 8 fields, saw 9\nSkipping line 95058: expected 8 fields, saw 9\nSkipping line 102341: expected 8 fields, saw 9\nSkipping line 104082: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 10\nSkipping line 105641: expected 8 fields, saw 9\nSkipping line 106183: expected 8 fields, saw 9\nSkipping line 108529: expected 8 fields, saw 10\nSkipping line 108900: expected 8 fields, saw 9\nSkipping line 109643: expected 8 fields, saw 9\nSkipping line 114070: expected 8 fields, saw 10\nSkipping line 116049: expected 8 fields, saw 9\nSkipping line 119548: expected 8 fields, saw 12\nSkipping line 121768: expected 8 fields, saw 9\nSkipping line 123756: expected 8 fields, saw 11\nSkipping line 127265: expected 8 fields, saw 9\nSkipping line 128631: expected 8 fields, saw 10\nSkipping line 130794: expected 8 fields, saw 11\n'
b'Skipping line 131589: expected 8 fields, saw 9\nSkipping line 135121: expected 8 fields, saw 9\nSkipping line 137613: expected 8 fields, saw 10\nSkipping line 137965: expected 8 fields, saw 9\nSkipping line 141433: expected 8 fields, saw 9\nSkipping line 141437: expected 8 fields, saw 9\nSkipping line 144058: expected 8 fields, saw 9\nSkipping line 147368: expected 8 fields, saw 12\nSkipping line 147902: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 152662: expected 8 fields, saw 9\nSkipping line 154679: expected 8 fields, saw 10\nSkipping line 157128: expected 8 fields, saw 10\nSkipping line 161889: expected 8 fields, saw 9\nSkipping line 165306: expected 8 fields, saw 9\nSkipping line 167342: expected 8 fields, saw 9\nSkipping line 169037: expected 8 fields, saw 9\nSkipping line 170503: expected 8 fields, saw 9\nSkipping line 172648: expected 8 fields, saw 9\nSkipping line 173779: expected 8 fields, saw 10\nSkipping line 180189: expected 8 fields, saw 10\nSkipping line 180664: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\nSkipping line 185882: expected 8 fields, saw 9\nSkipping line 188934: expected 8 fields, saw 9\nSkipping line 193160: expected 8 fields, saw 10\nSkipping line 193583: expected 8 fields, saw 11\nSkipping line 195879: expected 8 fields, saw 9\nSkipping line 196652: expected 8 fields, saw 9\n'
b'Skipping line 197950: expected 8 fields, saw 9\nSkipping line 198109: expected 8 fields, saw 9\nSkipping line 207489: expected 8 fields, saw 9\nSkipping line 208011: expected 8 fields, saw 10\nSkipping line 208474: expected 8 fields, saw 9\nSkipping line 209388: expected 8 fields, saw 9\nSkipping line 211908: expected 8 fields, saw 10\nSkipping line 212579: expected 8 fields, saw 9\nSkipping line 214872: expected 8 fields, saw 10\nSkipping line 216364: expected 8 fields, saw 9\nSkipping line 219797: expected 8 fields, saw 9\nSkipping line 219926: expected 8 fields, saw 10\nSkipping line 220330: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 221180: expected 8 fields, saw 10\nSkipping line 221502: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228687: expected 8 fields, saw 10\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 229655: expected 8 fields, saw 9\nSkipping line 232561: expected 8 fields, saw 9\nSkipping line 238333: expected 8 fields, saw 10\nSkipping line 238927: expected 8 fields, saw 9\nSkipping line 239775: expected 8 fields, saw 9\nSkipping line 241757: expected 8 fields, saw 10\nSkipping line 244864: expected 8 fields, saw 13\nSkipping line 245414: expected 8 fields, saw 9\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 246351: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 251297: expected 8 fields, saw 9\nSkipping line 253930: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 260581: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
b'Skipping line 267207: expected 8 fields, saw 14\nSkipping line 269121: expected 8 fields, saw 9\n'
C:\Users\edwar\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3378: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,"W. W. Norton &amp, Company",http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271259,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271260,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271261,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271262,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271263,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [72]:
userInput = [{'Title':'Classical Mythology', 'Rating':'0'},
            {'Title':'Clara Callan', 'Rating':'5'},
            {'Title':'Jane Doe','Rating':'5'},
            {'Title':'The Testament','Rating':'0'},
            {'Title':'Decorative Stamping: Hundreds of Projects for Your Home','Rating':'7'}]
        
inputBooks = pd.DataFrame(userInput)
print(inputBooks)

                                               Title Rating
0                                Classical Mythology      0
1                                       Clara Callan      5
2                                           Jane Doe      5
3                                      The Testament      0
4  Decorative Stamping: Hundreds of Projects for ...      7

In [73]:
inputID = books_df[books_df['Book-Title'].isin(inputBooks['Title'].tolist())]
inputBooks = pd.merge(inputID,inputBooks,left_index=True, right_index=True)
inputBooks = inputBooks[['ISBN','Title','Rating']]
print(inputBooks)

         ISBN                Title Rating
0  0195153448  Classical Mythology      0
1  0002005018         Clara Callan      5

In [74]:
userSubset = ratings_df[ratings_df['ISBN'].isin(inputBooks['ISBN'].tolist())]
print(userSubset.groupby('ISBN').count())

            User-ID  Book-Rating
ISBN
0002005018       14           14
0195153448        1            1

In [75]:
userSubsetGroup = userSubset.groupby(['ISBN'])

def take_3_elem(x):
    # print (len(x[1]))
    return len(x[1])
    
userSubsetGroup = sorted(userSubsetGroup, key=take_3_elem, reverse=True)

userSubsetGroup = userSubsetGroup[0:100]
print(userSubsetGroup[0:3])

[('0002005018',          User-ID        ISBN  Book-Rating
9563           8  0002005018            5
43178      11400  0002005018            0
45340      11676  0002005018            8
188244     41385  0002005018            0
283152     67544  0002005018            8
354414     85526  0002005018            0
399690     96054  0002005018            0
490342    116866  0002005018            9
508051    123629  0002005018            9
734221    177458  0002005018            0
828273    200273  0002005018            8
871535    210926  0002005018            9
903613    219008  0002005018            7
1096853   263325  0002005018            6), ('0195153448',       User-ID        ISBN  Book-Rating
9561        2  0195153448            0)]

In [76]:
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:

    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='ISBN')
    inputBooks = inputBooks.sort_values(by='ISBN')

    #Get the N for the formula
    nRatings = len(group)

    #Get the review scores for the movies that they both have in common
    temp_df = inputBooks[inputBooks['ISBN'].isin(group['ISBN'].tolist())]

    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['ISBN'].tolist()

    tempR = []
    for i in tempRatingList:
        tempR.append(int(i))

    tempG = []
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['ISBN'].tolist()

    for i in tempGroupList:
        tempG.append(int(i))

    
    #Now let's calculate the pearson correlation between two users, so called, x and y manually (check the formula from week 7 slide)
    Sxx = sum([pow(i,2) for i in tempG]) - pow(sum(tempR),2)/int(nRatings)
    Syy = sum([pow(i,2) for i in tempG]) - pow(sum(tempG),2)/int(nRatings)
    Sxy = sum( i*j for i, j in zip(tempR, tempG)) - sum(tempR)*sum(tempG)/int(nRatings)

    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [77]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
print(pearsonDF.head())

   similarityIndex      userId
0                0  0002005018
1                0  0195153448

In [78]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
print(topUsers.head())

   similarityIndex      userId
0                0  0002005018
1                0  0195153448

In [79]:
topUsersRating=topUsers.merge(ratings_df, left_index=True, right_index=True)
print(topUsersRating.head(100))

   similarityIndex      userId  User-ID        ISBN  Book-Rating
0                0  0002005018   276725  034545104X            0
1                0  0195153448   276726  0155061224            5

In [80]:
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['Book-Rating']
print(topUsersRating.head())

   similarityIndex      userId  User-ID        ISBN  Book-Rating  \
0                0  0002005018   276725  034545104X            0
1                0  0195153448   276726  0155061224            5

   weightedRating
0               0
1               0

In [81]:
tempTopUsersRating = topUsersRating.groupby('ISBN').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
print(tempTopUsersRating.head())

            sum_similarityIndex  sum_weightedRating
ISBN
0155061224                    0                   0
034545104X                    0                   0

In [82]:
recommendation_df = pd.DataFrame()

recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
print(recommendation_df.head(10))

            weighted average recommendation score     movieId
ISBN
0155061224                                    NaN  0155061224
034545104X                                    NaN  034545104X

In [83]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
print(recommendation_df)

            weighted average recommendation score     movieId
ISBN
0155061224                                    NaN  0155061224
034545104X                                    NaN  034545104X

In [85]:
recommended_books=books_df.iloc[books_df['ISBN'].isin(recommendation_df['ISBN'])]

#we don't want to recommend the same movie
recommended_movie=recommended_books.iloc[~recommended_books.ISBN.isin(userSubset['ISBN'])]

print(recommended_movie)

KeyError: 'ISBN'